<!DOCTYPE html>
<html>
<head>
  <% const systemJsAssetMap = webpack.assets.reduce((prev, lib) => {
      if (lib.name.startsWith('system-production')) {
        prev.systemJsSrc = lib.name;
      }
      if (lib.name.startsWith('vendorBundle')) {
        prev.vendorSrc = lib.name;
      }
      return prev;
    }, {}); %>
  <script src="<%= systemJsAssetMap.systemJsSrc %>"></script>
  <% htmlWebpackPlugin.files.css.forEach((asset) => { %>
  <link rel="stylesheet" href="<%= asset %>" />  
  <% }) %>
</head>
<body>
  <script src="<%= htmlWebpackPlugin.files.chunks.antd.entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.moment.entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks['react'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks['react-dom'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks['react-router-dom'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks['react-router'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.loader.entry %>"></script>
  <div id="application-root" />
  <script>
    System.import('loader').then((loader) => {
      console.log(loader);
      loader.Run();
    });
  </script>
</body>
</html>