<!DOCTYPE html>
<html>
<head>
    <% const systemJsAssetMap = webpack.assets.reduce((prev, lib) => {
      const libName = lib.name.split('.').slice(0, -2);
      prev[libName] = lib;
      return prev;
    }, {}); %>  
    
    <% htmlWebpackPlugin.files.css.forEach((asset) => { %>
  <link rel="stylesheet" href="<%= asset %>" />  
  <% }) %>
</head>
<body>
  <div id="application-root"></div>
  <script src="<%= systemJsAssetMap['babel-polyfill'].name %>"></script>
  <script src="<%= systemJsAssetMap['system-production'].name %>"></script>
  <script src="<%= htmlWebpackPlugin.files.dependencyManifest.assets.reactBundle %>"></script>
  <script src="<%= htmlWebpackPlugin.files.dependencyManifest.assets.vendorBundle %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.loader.entry %>"></script>
  <script>
    SystemJS.import('loader').then(function(loader){
      loader.Run();
    });
  </script>
</body>
</html>